* {
    box-sizing: border-box;
}

body {
    background: hsla(222, 82%, 57%, 1);

background: linear-gradient(180deg, hsla(222, 82%, 57%, 1) 0%, hsla(170, 26%, 9%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(222, 82%, 57%, 1) 0%, hsla(170, 26%, 9%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(222, 82%, 57%, 1) 0%, hsla(170, 26%, 9%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#396EEC", endColorstr="#111D1B", GradientType=1 );
}

/* classes */
.flex-container {
    border: 1px solid greenyellow;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .flex-container > div {
    border: 2px solid black;
} */

/* id's */

#headshot {
    width: 400px;
    height: 400px;
    /* border-radius: 30px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

