* {
    box-sizing: border-box;
}

body {
    background: rgb(171,214,153);
    background: linear-gradient(90deg, rgba(171,214,153,1) 33%, rgba(0,212,255,1) 100%); 
}

/* classes */
.flex-container {
    border: 1px solid greenyellow;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .flex-container > div {
    border: 2px solid black;
} */

/* id's */

#headshot {
    width: 400px;
    height: 400px;
    /* border-radius: 30px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

